@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@500;700&family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@500;700&family=Spartan:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
}

body {
    background-color: var(--Red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url("images/bg-intro-desktop.png");
}

.container {
    min-height: 100vh;
    max-width: 1120px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    margin: 80px auto;
}

.container-text {
    color: white;
    font-weight: 700;
}

.container-text h1 {
    font-size: 45px;

}

.container-text p {
    margin-top: 23px;
    font: size 18px;
    line-height: 2em;
}

.btn {
    font-size: 1.1rem;
    border-radius: 0.8rem;
    background-color: var(--Blue);
    padding: 1rem 1.8rem;
    color: white;
    text-align: center;
    box-shadow: 0px 8px 0px rgba(158, 109, 109, 0.767);
    margin-bottom: 25px;
    width: 85%;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0px 10px 0px hsl(249deg 10% 26% / 30%);
    width: 85%;
    padding: 30px;
}

.container-form input {
    width: 90%;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8px;

}

input:focus {
    border: 1px solid var(--Grayish-Blue);
    outline: 1px solid var(--Grayish-Blue);

}

.active {

    border: 2px solid var(--Red);
    background: url(../images/icon-error.svg) no-repeat;
    background-position: right 20px center;
}

input::placeholder {
    color: var(--DarkBlue);
    font-weight: 600;
    padding-left: 15px;
    margin-left: 25px;
}


.claim {
    background-color: var(--Green);
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    border: 1px solid rgb(31, 163, 130);
    border-radius: 0.4rem;
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 13px;
    box-shadow: 0px 2px 0px rgb(31, 163, 130);
    cursor: pointer;
    margin-left: 20px;
    width: 90%;
    height: 50px;
}

.container-form p {
    margin: 6px 16px;
    text-align: right;
    font-size: 0.7rem;
    font-weight: 600;
    font-style: italic;
    color: var(--Red);
}

.container-form .text {
    color: var(--GrayishBlue);
    text-align: center;
    font-style: normal;
}

.Terms {
    font-weight: 600;
    color: var(--Red);
}

.attribution {
    visibility: hidden;
}

.error {
    display: none;

}

.error-msg {
    display: block;

}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 375px;
    }

}